
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Let's Party!</title>
    <link href=
                  "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="p-2">
{{ block "body" . }} Content Goes Here {{ end }}
</body>
</html>