
{{ define "body"}}
<div class="text-center">
  <h1>It won't be the same without you, {{ . }}!</h1>
  <div>Sorry to hear that you can't make it, but thanks for letting us know.</div>
  <div>
    Click <a href="/list">here</a> to see who is coming,
    just in case you change your mind.
  </div>
</div>
{{ end }}