
{{ define "body"}}
<div class="text-center">
  <h3> We're going to have an exciting party!</h3>
  <h4>And YOU are invited!</h4>
  <a class="btn btn-primary" href="/form">
    RSVP Now </a>
</div>
{{ end }}